@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.navbar {
    border-bottom: 3px solid #e0e0e0;
    box-shadow: 0px 5px 10px 0px #aaa;
    font-family: 'Montserrat', sans-serif;
    height: 80px;
    z-index: 100;
}

.navbar-brand {                             
    font-weight:800;
    font-size: 20px;
    margin-bottom: 2rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

.navbar .menu-items {
    padding-top: 20px;
}

.menu-items li {
    list-style: none;
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: 15px;
    font-weight: 500;
}

.menu-items {
    order: 2;
    display: flex;
}

.navbar-logo {
    max-width: 60px; 
    max-height: 50px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.username {
    font-size: 15px;
    font-weight: bold;
    color: #ac00e6;
}

.container {
    margin-top: 30px;
}

.card {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #ff4d4d;
}

h5 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.card-link {
    color: black;
}

.card-title {
    margin-top: 10px;
}