.navbar {
    border-bottom: 3px solid #e0e0e0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh; 
    position: relative;
    width: 85%;
}

.search {
    width: 200%; 
    padding: 15px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 50px; /* Add rounded corners */
    display: inline-block;
}

.search-icon {
    margin: 10px;
    color:rgba(0, 0, 0, 0.564);
}

#search-button{
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;
    right: 25%; 
    top: 52%;
    transform: translateY(-50%);
}

.search:hover{
    cursor: text;

}

.type {
    border-radius: 5px;
    background-color: #ffffe6;
    padding: 5px;
}