.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh; 
}

.search {
    width: 200%; 
    padding: 15px; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 50px; /* Add rounded corners */
}

.search-icon {
    position: absolute;
    margin: 10px;
    color:rgba(0, 0, 0, 0.564);
}

#search-button{
    border:none;
    cursor: pointer;
    padding:0px 10px;
}
