<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/attraction.css">

    <title>Attraction Details</title>
</head>

        <!-- Header -->
        <nav class="navbar navbar-light">
            <div class="navbar-container">
                <img src="/images/merlionicon.jpg" alt="Logo" class="navbar-logo">
                <span class="navbar-brand">Discover Singapore</span>

                <ul class="menu-items">
                    <li>Welcome <span class="username" th:text="${username}"></span></li>
                    <li><a th:href="@{/search(username=${username})}">Search</a></li>
                    <li><a href="/search/favourite">View Favourites</a></li>
                    <li><a href="/">Log out</a></li>
                </ul>

            </div>
        </nav>

        <!-- Display detailed information about the attraction -->
        <div class="container">
            <div class="card">
                <form method = "POST" th:action="@{/search/addtofavorites}">
                    <div class="card-header">
                        <div class="image-container">
                            <img style="height: 500px; width: 700px;" th:if="${attraction.base64ImageData != null}" th:src="'data:image/jpeg;base64,' + ${attraction.base64ImageData}" alt="Attraction Image">
                            <img style="height: 300px;"th:unless="${attraction.base64ImageData != null}" th:src="${attraction.mediaURL}" alt="Attraction Image">
                        </div>
                        <div class="title-container">
                            <h5 class="card-title" th:text="${attraction.name}"></h5>
                            <p><span th:text="${attraction.description}"></span></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span class="type" th:text="${attraction.type}"></span><br>
                            <span th:utext="${#strings.replace(#strings.replace(attraction.body, '<p>', ''), '<br>', '')}"></span><br>
                            <strong>Rating:</strong> <span th:text="${attraction.rating}"></span><br>
                            <i class="fas fa-globe"></i><a th:href="${attraction.officialWebsite.startsWith('http') ? attraction.officialWebsite : 'http://' + attraction.officialWebsite}" target="_blank">  Visit Website</a>
                        </p>               
                    </div>     
    
                    <!-- Hidden input fields for form data -->
                    <input type="hidden" name="username" th:value="${username}" />
                    
                    <input type="hidden" name="uuid" th:value="${attraction.uuid}" />
                    <input type="hidden" name="name" th:value="${attraction.name}"/>
                    <input type="hidden" name="type" th:value="${attraction.type}" />
                    <input type="hidden" name="description" th:value="${attraction.description}" />
                    <input type="hidden" name="body" th:value="${#strings.replace(#strings.replace(attraction.body, '<p>', ''), '<br>', '')}" />
                    <input type="hidden" name="rating" th:value="${attraction.rating}" />
                    <input type="hidden" name="officialWebsite" th:value="${attraction.officialWebsite}"/>

                    <!-- Link to view details -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="far fa-heart">Add to Favourites</i></button>
                        <a th:href="@{/searchattractions(uuid=${attraction.uuid})}" class="btn btn-outline-primary btn-sm"><i class="far fa-eye">View Details in JSON</i></a>
                    </div>
                </form>
            </div>  
        </div>


        <!-- Bootstrap JS dependencies -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>