<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/favourite.css">

    <title>Document</title>
</head>
    <body>

        <!-- Header -->
        <nav class="navbar navbar-light">
            <div class="navbar-container">
                <img src="/images/sg.png" alt="Logo" class="navbar-logo">
                <span class="navbar-brand">Discover Singapore</span>

                <ul class="menu-items">
                    <li>Welcome <span class="username" th:text="${username}"></span></li>
                    <li><a th:href="@{/search(username=${username})}">Search</a></li>
                    <li><a href="/search/favourite">View Favourites</a></li>
                    <li><a href="/">Log out</a></li>
                </ul>

            </div>
        </nav>


        <div class="container">
            <!-- Display favorite attractions -->
            <h1>Your Favorites</h1>

            <div data-th-if="${#lists.isEmpty(favourite)}">
                <h2>You have no Favourites <i class="fas fa-frown"></i></h2>
            </div>

            <div data-th-unless="${#lists.isEmpty(favourite)}">
                <div th:each="attraction : ${favourite}">
                <!-- Display detailed information about each attraction -->
                    <a th:href="@{/search/attractions/{uuid}(uuid=${attraction.uuid})}" class="card-link">
                        <div class="card">
                            <div class="card-header">
                                <img style="height: 500px;" th:if="${attraction.base64ImageData != null}" th:src="'data:image/jpeg;base64,' + ${attraction.base64ImageData}" alt="Attraction Image">
                                <h5 class="card-title" th:text="${attraction.name}"></h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Type:</strong> <span th:text="${attraction.type}"></span><br>
                                    <span th:text="${attraction.description}"></span><br>
                                    <span th:utext="${#strings.replace(#strings.replace(attraction.body, '<p>', ''), '<br>', '')}"></span>
                                    <strong>Rating:</strong> <span th:text="${attraction.rating}"></span><br>
                                    <i class="fas fa-globe"></i><a th:href="${attraction.officialWebsite.startsWith('http') ? attraction.officialWebsite : 'http://' + attraction.officialWebsite}" target="_blank">  Visit Website</a>
                                </p>               
                            </div>

                            <form method="POST" action="/search/deletefavorite">
                                <input type="hidden" name="username" th:value="${username}" />
                                <input type="hidden" name="uuid" th:value="${attraction.uuid}" />
                                <button class="btn btn-delete" type="submit"><i class="fas fa-trash"></i>Delete</button>
                            </form>

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>