<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Display favorite attractions -->
    <h1>Favorites</h1>

    <div th:if="${favourite}">
        <h3 th:text="${'Favorite Attractions'}"></h3>
        <div th:each="attraction : ${favourite}" class="attraction-card">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title" th:text="${attraction.name}"></h5>
                </div>

                <div class="card-body">
                    <p class="card-text">
                        <strong>Type:</strong> <span th:text="${attraction.type}"></span><br>
                    </p>
                    <a th:href="@{/search/attractions/{uuid}(uuid=${attraction.uuid})}" class="btn-link">
                        <button type="button" class="btn btn-primary">View Details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
