<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover Singapore</title>

    <link rel="stylesheet" href="/styles.css">
</head>
    <body>

        <form method="GET" action="/search.html">
            <div>
                <img src="/images/singapore.jpg" class="background">

                Username:<input type="text" name="username" placeholder="name" required>
                
                <button type="submit">Login</button>
            </div>
        </form>
        
    </body>
</html>