<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover Singapore</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/index.css">

</head>
    <body>

        <div class="container">
            <div class="img-container">
                <div class="slider">

                    <div class="image-wrapper" data-index="1">
                        <img src="/images/singapore.jpg">
                        <div class="image-text">
                          <h1>Explore <br> Singapore</h1>
                          <p>Discover the vibrant culture and stunning landmarks of the Lion City.</p>
                        </div>
                    </div>


                    <!-- Image 2 -->
                    <div class="image-wrapper" data-index="2">
                        <img src="/images/gbtb.jpg">
                        <div class="image-text">
                        <h1>Visit <br> Gardens by the Bay</h1>
                        <p>Experience the beauty of nature and innovation in this iconic garden.</p>
                        </div>
                    </div>

                    <!-- Image 3 -->
                    <div class="image-wrapper" data-index="3">
                        <img src="/images/hajilane.jpg">
                        <div class="image-text">
                        <h1>Discover <br> Haji Lane</h1>
                        <p>Explore the eclectic and colorful streets of Haji Lane.</p>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="slider-nav">
              <ul>
                <li class="arrow">
                  <button class="previous">
                    <span>
                      <i class="ion-arrow-left-c"></i>
                    </span>
                  </button>
                </li>
                <li class="arrow">
                  <button class="next">
                    <span>
                      <i class="ion-arrow-right-c"></i>
                    </span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
          

        <div class="form-control">
          <form method="POST" th:action="@{/login}" th:object="${user}">
              <div>
                  <div class="login-container">
                    <h1>Sign in</h1>
                    <p>Login to Start Searching</p>
                    <div class="form-container sign-in-container">
                      <input type="text" name="username" th:field="*{username}" placeholder="Username" required>
                      <div class = "alert alert-danger" data-th-if="${#fields.hasErrors('username')}" data-th-errors="*{username}"></div>
                      <input type="password" name="password" th:field="*{password}" placeholder="Password" required>
                      <div class = "alert alert-danger" data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}"></div>
                    </div>

                    <div>
                      <button class="button-signin">Sign In</button>
                      <p>Don't have an account?<a th:href="@{/signup}">Sign Up Now</a></p>
                    </div>
                  </div>
                      
              </div>
          </form>
        </div>

        <script src="/index.js"></script>

    </body>
</html>