<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/search.css">

    <title>Search</title>
</head>
    <body>

        <!-- Header -->
        <div class="header-box">
            <h2>Welcome <span th:text="${username}"></span></h2>
        </div>

        <!-- Search Form -->
            <form method="GET" th:action="@{/search/attractions}">
                <div class="search-container">
                    <div class="search-box">
                        <i class="search-icon fas fa-search"></i>
                        <input type="text" name="searchValues" class="search" placeholder="Search attractions" required>
                        <button id="search-button" type="submit">Search</button>
                    </div>
                </div>
            </form>


        <!-- Display Search Results -->
        <h4>Search Results</h4>

        <div th:if="${attractions}" class="row">
            <div th:each="attraction : ${attractions}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title" th:text="${attraction.name}"></h5>
                        <img src="${attraction.mediaURL}">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Type:</strong> <span th:text="${attraction.type}"></span><br>
                        </p>
                        <!-- Modify the link to include the username -->
                        <a th:href="@{/search/attractions/{uuid}(uuid=${attraction.uuid})}" class="btn-link">
                            <button type="button" class="btn btn-primary">View Details</button>
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>