<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/searchresults.css">

    <title>Search Results</title>
</head>
    <body>

        <!-- Header -->
        <nav class="navbar navbar-light">
            <div class="navbar-container">
                <img src="/images/sg.png" alt="Logo" class="navbar-logo">
                <span class="navbar-brand">Discover Singapore</span>

                <ul class="menu-items">
                    <li>Welcome <span class="username" th:text="${username}"></span></li>
                    <li><a th:href="@{/search(username=${username})}">Search</a></li>
                    <li><a href="/search/favourite">View Favourites</a></li>
                    <li><a href="/">Log out</a></li>
                </ul>

            </div>
        </nav>

        <!-- Display Search Results -->
        <div class="container">
            <h2>Search Results</h2>
            <section id = "gallery">
                <div th:if="${attractions}" class="row">
                    <div th:each="attraction : ${attractions}" class="col-lg-4 mb-4">
                        <div class="card h-100">
                            <!-- Use Thymeleaf to conditionally render the image based on base64imageData -->
                            <img class="card-img-top" style="height: 250px;" th:if="${attraction.base64ImageData != null}" th:src="'data:image/jpeg;base64,' + ${attraction.base64ImageData}" alt="Attraction Image">
                            <img class="card-img-top" style="height: 250px;" th:unless="${attraction.base64ImageData != null}" th:src="${attraction.mediaURL}" alt="Attraction Image">
                            
                            <div class="card-header">
                                <div class="card-title">
                                    <h1 th:text="${attraction.name}"></h1>
                                </div>
                            </div>

                            <div class="card-body">
                                <p class="card-text">
                                    <span class="type" th:text="${attraction.type}"></span><br>
                                    <span th:text="${attraction.description}"></span>
                                </p>
                                <a th:href="@{/search/attractions/{uuid}(uuid=${attraction.uuid})}" class="btn-link">
                                    <button type="button" class="btn btn-outline-success btn-sm">View Details</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Bootstrap JS dependencies -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qv6/5+ezu8OF+e3pP/QDg26XddZxlIjwkXc7PY7T9ntX8/2im7d9EJJMA5zUK6U" crossorigin="anonymous"></script>


    </body>
</html>